:root {
  /* color name references: https://www.color-name.com/ */
  
  --white: #fff;
  --amaranth: #DC294F;
  --pale-pink: #FDDAE0;
  --light-silver: #D8D8D8;
  --quartz: #4A4A4A;
  --spanish-gray: #979797;
  --chinese-silver: #CACACA;
  --chinese-black: #161616;
}
