*{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

#content{
  min-width: 1440px;
}

#fd-logo{
  width: 153px;
}

p{
  color: var(--spanish-gray);
}

a {
  text-decoration: none !important;
}